<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-organiser!</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/interactive_calendar.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower'
          rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="{% static 'js/interactive_calendar.js' %}"></script>
</head>

<body>
<div class=page-header>
   <a href="{% url 'index' %}">interactive calendar</a>
</div>

{% if user.is_authenticated %}
    <ul>
        <li><a href="{% url 'my' %}">My events</a></li>
        <li><a href="{% url 'attended' %}">I'm attending</a></li>
        <li><a href="{% url 'invited' %}">I'm invited</a></li>
        <li><a href="{% url 'logout' %}">Sign out {{ user }}</a></li>
    </ul>

{% else %}

    <ul>
        <li><a href="{% url 'register' %}">Create new account</a></li>
        <li><a href="{% url 'login' %}">sign in</a></li>

{% endif %}

    </ul>

{% block content %}
{% endblock %}

</body>
</html>