<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-organiser!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
      integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
      integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/interactive_calendar.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>

<body>
{% if user.is_authenticated %}
<a href="{% url 'my' %}">moje wydarzenia</a>
<a href="{% url 'attended' %}">biorę udział</a>
<a href="{% url 'invited' %}">zaproszenia</a>
    zalogowany jako: {{ user }}
<a href="{% url 'logout' %}">sign out</a> <br>

{% else %}
    <a href="{% url 'register' %}">create new account</a>
    <a href="{% url 'login' %}">sign in</a> <br>

{% endif %}

{% block content %}
{% endblock %}

</body>
</html>