{% extends 'interactive_calendar/base.html' %}

{% block content %}

    Event author: {{ event.author }} <br>
    When will event start: {{ event.date_start }} <br>
    How long will event last: {{ event.date_duration }} <br>
    Event name: {{ event.name }} <br>
    Event description: {{ event.text }} <br>
    How many attenders: {{ event.attenders_num }} <br>
    Who will attend: {{ event.attenders }} <br>
    Who is invited: {{ event.invited }} <br>
    Is event private(only with invitation): {{ event.private }} <br>

{% ifequal event.author|stringformat:"s" request.user.username %}

Invite user:

<form method="post">
    {% csrf_token %}
    <input type="text" name="username" />
    <input type="submit" name="invite" value="submit">
</form>

{% endifequal %}

    {% if request.user.username in event.attenders %}
        <form method="post">
            {% csrf_token %}
            <input type="submit" name="not_attend" value="Don't want to attend">
        </form>

    {% else %}
        <form method="post">
          {% csrf_token %}
            <input type="submit" name="attend" value="Want to attend">
        </form>
    {% endif %}
{% endblock content %}