{% extends 'interactive_calendar/base.html' %}

{% block content %}

{% if user.is_authenticated %}

Add new event:

<form method="POST" name="post_event">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit">save</button>
</form>

Check calendar for events:
   <form method="POST" name="datepicker">{% csrf_token %}
    <p>Date: <input type="text" name="datepicker" id="datepicker"></p>
   <input type="submit" value="check date" />
    </form>

{% endif %}

    {% for e in ev %}
        <a href="{% url 'event_page' pk=e.pk %}">{{ e.name }}</a> <br>
        {{ e.author }} <br>
        {{ e.date_start }} <br>
    {% endfor %}

{% endblock content %}